<div style="padding: 10px">
    <div class="fr" style="width: 460px"> 
        <div class="dashbox_alt">
            <div class="header">
                <div class="fr"><img src="image/btn_manage.png"></div>
                <div>Failure to Time-In/Time-Out</div>
            </div>
            <div class="wrapper">
                {payroll_list}
                <div class="items">
                    <div class="name">
                        <div class="fr">{type}</div>
                        <div>{name}</div>
                    </div>
                    <div class="info">
                        <div class="fr">
                            <a href="{link_approve}"><img src="image/btn_approve.png" /></a> 
                            <a href="{link_view}"><img src="image/btn_view.png" /></a>
                        </div>
                        <div>{detail}</div>
                    </div>
                </div>
                {/payroll_list}
            </div>
            <div align="right" style="margin-top: 6px;"><a href="payroll/">View All</a></div>
        </div>
        <div>&nbsp;</div>
    </div>
    <div class="fl" style="width: 460px">
        <div class="dashbox">
            <div class="header">
                <div class="fr"><img src="image/btn_manage.png"></div>
                <div>Pending Over Time/Under Time Requests</div>
            </div>
            <div class="wrapper">
                {overunder_list}
                <div class="items">
                    <div class="name">
                        <div class="fr">{type}</div>
                        <div>{name}</div>
                    </div>
                    <div class="info">
                        <div class="fr">
                            <a href="{link_cancel}"><img src="image/btn_cancel.png" /></a> 
                            <a href="{link_view}"><img src="image/btn_view.png" /></a>
                        </div>
                        <div>{detail}</div>
                    </div>
                </div>
                {/overunder_list}
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="dashbox">
            <div class="header">
                <div class="fr"><a href="uhrfnc/addleave"><img src="image/btn_addleave.png"></a></div>
                <div>Pending Leave Requests</div>
            </div>
            <div class="wrapper" id="event_calendar">
                {leave_list}
                <div class="items" id="leave_{leaveid}">
                    <div class="name">
                        <div class="fr">{type}</div>
                        <div>{name}</div>
                    </div>
                    <div class="info">
                        <div class="fr">
                            <a class="leave_cancel" href="javascript:;" rel="{leaveid}"><img src="image/btn_cancel.png" /></a> 
                            <a href="uhrfnc/editleave/{leaveid}"><img src="image/btn_view.png" /></a>
                        </div>
                        <div>{detail}</div>
                    </div>
                </div>
                {/leave_list}
                <div align="right" style="margin-top: 6px;"><a href="uhrfnc/viewleaves">Viewl All</a></div>
            </div>
            
        </div>
        <div>&nbsp;</div>        
    </div>
    <div class="clr"></div>
</div>

<script>
$(function(){
    $('.leave_cancel').bind('click', function(){
        if(confirm('Are you sure, you want to cancel this request?')){
            var value = $(this).attr('rel');
            $.get('uhrfnc/cancelleave/'+value+'/1',function(d){
                if(d == 1){$('#leave_'+value).remove();}
            });
        }
    });
});
</script>
