<script>
    $.jgrid.no_legacy_api = true;
	$.jgrid.useJSON = true;
</script>
<div>
    <div style="padding: 8px 0;height: 27px; border-bottom: 1px solid #e1e1e1">
        <div class="fr">
	        <a href="payroll/" title="Back to List"><img src="image/exit.png"></a>&nbsp;
	    </div>
	    <div style="padding-top:6px;padding-bottom:4px;font-weight:bold;font-family:Trebuchet MS;font-size:16pt">Alpha List</div>
    </div>	
	<div style="padding-top:6px;padding-bottom:4px;font-weight:bold;font-family:Trebuchet MS;font-size:14pt">Payroll Period: {datefrom} - {dateto}</div>
	<div>{alphalist}</div>
</div>
<div>&nbsp;</div>
