<div style="padding: 4px;background: #f2f2f2;margin-bottom: 4px" id="cont_dtrsub_{pdetailid}">
    <form id="dtrsub_{pdetailid}">
        <div class="fr"><a href="javascript:;" id="btn_dtrsub_{pdetailid}"><img src="image/btn_update.png" align="absmiddle" /></a></div>
        <div>Schedule: {schedule}&nbsp;&nbsp;|&nbsp;&nbsp;Other Settings: {none} {pl} {abs}</div>
    </form>
</div>
<div class="fr">
    <div>{under_time}</div>
</div>
<div class="fl">
    <div>{over_time}</div>
</div>
<div class="clr"></div>
{dtr_script}
