<table border="0" cellpadding="4" cellspacing="0" width="60%" align="center" style="font-size:14px">
	<tr>
		<td style="font-size:14px;font-weight:bold;border-bottom: 3px double #000;" colspan="2">{name}</td>
		<td colspan="2" align="right" style="border-bottom: 3px double #000;">{payperiod}</td>
	</tr>
	<tr style="background: #CCC">
		<td>Basic</td>		<td>&nbsp;</td>		<td>&nbsp;</td>	<td align="right" style="background:#CCC">{basic}</td>
	</tr>
	<tr style="background: #CCC">
		<td>Allowance</td>	<td>&nbsp;</td> 	<td>&nbsp;</td> <td align="right" style="background:#CCC">{allowance}</td>
	</tr>
	<tr>
		<td>Add:</td>	<td>Holiday</td>		<td align="right">{holiday}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Over Time</td>		<td align="right">{overtime}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Night Diff</td>		<td align="right">{nightdiff}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	{otherincome}
	<tr>
		<td align="right">Other Income</td>	<td>{remark}</td>		<td  align="right">{amount}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	{/otherincome}
	<tr style="background:#CCC;">
		<td style="border-top:1px solid #666">Sub Total</td> <td style="border-top:1px solid #666">&nbsp;</td>		<td align="right" style="border-top:1px solid #666;font-weight:bold">{totaladd}</td>		<td align="right" style="border-top:1px solid #666">{totaladd}</td>
	</tr>
	<tr>
		<td>Less:</td>	<td>Late</td>		<td align="right">{late}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Under Time</td>		<td align="right">{undertime}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Absences</td>		<td align="right">{absent}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>SSS</td>		<td  align="right">{sss}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Philheath</td>		<td  align="right">{philhealth}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Pag-ibig</td>		<td  align="right">{pagibig}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>W/Tax</td>		<td  align="right">{wtax}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>	<td>Loans</td>		<td  align="right">{loans}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	{otherdeduction}
	<tr>
		<td>Other Deductions</td>	<td>{remark}</td>		<td  align="right">{amount}</td>		<td style="background:#EEE">&nbsp;</td>
	</tr>
	{/otherdeduction}
	<tr style="background: #CCC">
		<td style="border-top:1px solid #666">Sub Total</td> <td style="border-top:1px solid #666">&nbsp;</td>		<td align="right" style="border-top:1px solid #666;font-weight: bold">{totalded}</td>		<td align="right" style="border-top:1px solid #666">{totalded}</td>
	</tr>
	<tr>
		<td style="border-top: 3px double #000;font-weight:bold">Net</td>	<td style="border-top: 3px double #000;font-weight:bold">&nbsp;</td>		<td style="border-top: 3px double #000;font-weight:bold">&nbsp;</td>		<td  align="right" style="border-top: 3px double #000;font-weight:bold">{netpay}</td>
	</tr>
	<tr>	
		<td style="color:#F00;font-size:12px;padding-top:10px" colspan="4">Disclaimer: Complaints should be filed within 5 days after each payroll period. Failure to file a complaint within the said time table; the above document shall be considered correct.</td>
	</tr>
</table>
