<div>
Hello {name},<br/><br/>
Welcome to my15/30, you recieve this email because you or {company} has requested it.<br/><br/>
Your Employee Activation code is: {erefcode}<br/><br/>
Your Company Activation code is: {crefcode}<br/><br/>
You can now register to the Employee's Portal, copy and paste the url below to your browser.<br/>
http://www.my1530.net/portal/register<br/><br/><br/><br/>
This is a computer generated email, please do not reply to this email.<br/>
If you did not request for this email, plese disregard or delete this email.
</div>

