<div>
    <div>Member's Activation</div>
    <div>
        Congratulations, you have successfully created your portal account.<br/>
        However your account is not active yet, click the link below to activate<br/>
        the account.<br/><br/>
        <a href="http://www.my1530.net/page/activate/{activationcode}">http://www.my1530.net/page/activate/{activationcode}</a><br/><br/>
        Account information:<br/>
        username: {username}<br/>
        password: [not shown]<br/><br/>
        Note: This is a machine generated email, please do not reply.
    </div>
</div>
