<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table>
	<a href="hrfnc/calendar/{prev_month}/{prev_year}">Previous</a>{month_title} {year} <a href="hrfnc/calendar/{next_month}/{next_year}">Next</a></tr>
    <tr>
    	<td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
    	{row}
        <tr>
        	{col}<td><a href="hrfnc/addevent/{year}/{month}/{day}">{day}</a></td>{/col}
        </tr>
        {/row}
</table>
</body>
</html>
