<div style="height: 303px">
    <div class="fl" style="padding-top: 15px; padding-left: 50px;">
        <img src="image/sample_view.png" />
    </div>
    <div style="padding-left: 586px;padding-top:88px">
        <div class="title" style="color: #FFF">Easy to use Payroll Application</div>
        <div style="line-height: 24px;font-size: 16px; color:#FFF; padding-top: 14px">Complete, easy to use and feature packed payrollsystem with employee's portal.</div>
    </div>
</div>
<div style="padding: 10px 0px">
    <div class="small_feat">
        <div class="subtitle">Online Payroll</div>
        <div>See everything, anywhere in real-time.</div>
    </div>
    <div class="small_feat">
        <div class="subtitle">Easy HR Funtions</div>
        <div>Leave forms, Shift schedules can be done and approved online.</div>
    </div>
    <div class="small_feat">
        <div class="subtitle">Reports</div>
        <div>Reports are autoamically generated and always ready.</div>
    </div>
    <div class="small_feat last_feat">
        <div class="subtitle">Need more?</div>
        <div>We can costumize it for you,contact us and we'll listen.</div>
    </div>
    <div class="clr"></div>
</div>
<div style="padding-bottom: 8px;">
    <div class="fl" style="width: 340px;padding-right:20px">
        <div class="subtitle">Sign-up for an Account</div>
        <div class="col_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat massa non urna interdum sollicitudin. Maecenas commodo metus ut tellus pharetra rhoncus. Duis vestibulum tempus mauris, ut mattis lacus rutrum consequat. Aliquam accumsan, velit vel lobortis accumsan, quam purus porttitor leo, ac sollicitudin arcu nunc quis elit. Nulla pharetra imperdiet varius. Quisque nulla ipsum, pharetra vitae commodo elementum, varius non diam. Nunc venenatis iaculis lorem ac venenatis. Sed vitae eros tellus, et ultricies lacus. </div>
    </div>
    <div class="fl" style="width: 340px;padding-right:20px">
        <div class="subtitle">Customize My Account</div>
        <div class="col_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat massa non urna interdum sollicitudin. Maecenas commodo metus ut tellus pharetra rhoncus. </div>
        <div class="col_content">Nullam sodales ornare urna id laoreet. Quisque luctus tortor in sem feugiat varius. Etiam in magna at mauris imperdiet venenatis. </div>
        <div class="col_content">Ut euismod purus a quam aliquet rhoncus. Ut sollicitudin tortor vel metus commodo non consequat lacus laoreet. Vivamus pharetra aliquam justo nec lacinia.</div>
    </div>
    <div class="fl" style="width: 220px">
        <div class="login_top">
            <div class="login_bottom">
                <div class="form_holder">
                    <div class="logintitle">Login to Account</div>
                    <div class="form_content">
                        <form method="POST" action="">
                            <div style="line-height: 28px">Email</div>
                            <div><input class="{form_error}" type="text" name="email" style="width: 100%" /></div>
                            <div style="line-height: 28px">Password</div>
                            <div><input class="{form_error}" type="password" name="password" style="width: 100%" /></div>
                            <div style="padding-top: 8px;">
                                <div class="fl" style="line-height: 30px">Forgot Password?</div>
                                <div class="fr"><input type="submit" value="Login" name="login" class="login_button"></div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 8px;">
            <input type="button" name="portal" value="Employee's Portal" class="portal_button" id="employeesportal" />
        </div>
    </div>
    <div class="clr"></div>
</div>
<script>
    $(function(){
        $('#employeesportal').bind("click", function(){
            window.location = 'page/portal/';
        });
    });
</script>
