<style>
.signform input[type="text"], .signform input[type="password"]{
    width: 220px
}
.ui-state-error{
    padding: 0.6em;
}
</style>
<div style="height: 303px">
    <div class="fl" style="padding-top: 15px; padding-left: 50px;">
        <img src="image/sample_view2.png" />
    </div>
    <div style="padding-left: 586px;padding-top:88px">
        <div class="title" style="color: #FFF">Easy access to your Portal</div>
        <div style="line-height: 24px;font-size: 16px; color:#FFF; padding-top: 14px">As employee, your record and cotribution on track. Access anywhere all the time.</div>
    </div>
</div>
<div style="padding: 10px 0px">
    <div class="subtitle">Account Terminated</div>
    <div>Your account was terminated, please ask your HR about your account.</div>
</div>
